.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.spinner {
  width: 3.125rem;
  height: 3.125rem;
  border: 0.3125rem solid oklch(0.469 0.2296 264.55 / 0.5);
  border-top-color: var(--primary-light);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
